html {
    box-sizing: border-box;
    
    }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-size: inherit;
  }
  
  body {
    // position: relative;
    color: $blue;
    min-width: 320px;
    overflow-x: hidden;
    @extend %os-regular;
    font-family: Helvetica, Arial;
    font-style: 18px;
    line-height: 30px;
  }
  
  .container {
    max-width: 980px;
    padding: 0 10px;
    margin: 0 auto;
    overflow-x: hidden;
  }

